<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap mp rescap">

  <Identity
    Name="ddc2f4af-eceb-4a43-949c-d738668e9e5e"
    Publisher="CN=IdeasLabUt"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="ddc2f4af-eceb-4a43-949c-d738668e9e5e" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>IDEASLabUT.MSBandWearable.Application</DisplayName>
    <PublisherDisplayName>IdeasLabUt</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="IDEASLabUT.MSBandWearable.MSBandWearableApplication">
      <uap:VisualElements
        DisplayName="MSBandWearable"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="A UWP application for Microsoft Band 2"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="confirmAppClose"/>
	<rescap:Capability Name="extendedExecutionUnconstrained"/>
    <Capability Name="internetClient" />
	<DeviceCapability Name="bluetooth"/>
  </Capabilities>
</Package>